In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame()
pd.read_excel("stress dataset.xlsx")

       Name  Age  Exam Stress
0  Pransshu   19           10
1     Bindu   19            9
2       Ram   20            7